body {
    margin: 0;
    background-image: url(moviebackgroundlist.jpg);
    background-size: cover;
}

/* Style the header */
.header {
    text-align: center;
    color: white;
    margin: auto;
    font-size: 22px;
    font-family: 'Kaushan Script', cursive;
    background-image: url(headerback.PNG);
    padding: 15px;
}


/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    text-align: center;
    width: 100%;
    margin: auto;
   
}

/* Style the topnav links */
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.welcome {
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}
.outform {
    float: right;
    padding: 10px;
}
.signout {
    font-size: 16px;
  color: #FFF;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 10px;
  height: 30px;
  border-radius: 15px;

  background: #1a1a1a;
 
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
/* Form styles */7
.movieform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 260px;
    
}
.movieform input[type="text"],
.movieform input[type="date"],
.movieform input[type="datetime"],
.movieform input[type="email"],
.movieform input[type="number"],
.movieform input[type="search"],
.movieform input[type="time"],
.movieform input[type="url"],
.movieform textarea,
.movieform select,
.movieform label {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
input[type=text], select,textarea {
    width: 40%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    
}

/* Checkbox */
.multiselect {
	border-radius: 5px;
    background-color: #f2f2f2;
    width: 40%;
    
}

.checkcontainer {
	display: block;
    margin-bottom: 12px;
    font-size: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  background: #333;
  margin: 20px ;
  position: relative;
  
  
}

.choose {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
}

/* Create three unequal columns that floats next to each other */
.column {
    font-family: "Verdana";
    font-size: 15px;
    
    padding: 10px;
    width: 60%;
    display: block;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

/* Table */

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
.table-head th{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}
tbody tr {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #262626;
  line-height: 2.2;
  font-weight: unset;
}

/* Table buttons */
.delete {
  font-size: 16px;
  color: #FFF;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 10px;
  height: 30px;
  border-radius: 15px;

  background: #39004d;
  position: relative;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.edit {
  font-size: 16px;
  color: #FFF;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 10px;
  height: 30px;
  border-radius: 15px;

  background: #39004d;
  position: relative;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* Buttons */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

a#delete:hover {
    background-color: red;
}

a#edit:hover {
    background-color: #0066ff;
}

button:hover {
	cursor: pointer;
    background-color: #8c8c8c;
}

a {
	 text-decoration: none;
}
/* Middle column */
h2 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}

.footer {
	text-align: center;
	background-color: #1a1a1a;
	bottom: 0;
    position: fixed;
    width: 100%;
    color: white;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 90%;
        margin: auto;
        position: relative;
    }
}

